#!/bin/bash

# Define some environment variables
export SECRETS_DIR=../../../secrets/
export GCP_PROJECT="bitefinder-irith" #Irith's project
export SECRET_MANAGER_PROJECT="bitefinder-474614"
export GCP_BUCKET_NAME="bitefinder-data"
export GCS_BUCKET_URI="gs://bitefinder-data"
export GCP_REGION="us-central1"
export GOOGLE_APPLICATION_CREDENTIALS="${SECRETS_DIR}bitefinder-service-account.json"
export WANDB_TEAM="bitefinder"
export WANDB_PROJECT="bitefinder-vl"
export MODEL_CACHE_DIR="/app/vlmodel_cache"
export SERVICE_ACCOUNT_EMAIL="xxx@xxx.iam.gserviceaccount.com"
