#!/bin/bash

# Define some environment variables
export SECRETS_DIR=../../../secrets/
export GCP_PROJECT="bitefinder-474614" #"bitefinder-irith" #Irith's project
export GCP_BUCKET_NAME="bitefinder-data"
export GCS_BUCKET_URI="gs://bitefinder-data"
export GCP_REGION="us-central1"
export GOOGLE_APPLICATION_CREDENTIALS="${SECRETS_DIR}bitefinder-service-account.json"
export WANDB_TEAM="bitefinder"
export WANDB_PROJECT="bitefinder-vl"
export MODEL_CACHE_DIR="vlmodel_cache"
export SERVICE_ACCOUNT_EMAIL="jack-136@bitefinder-474614.iam.gserviceaccount.com" #"xxx@xxx.iam.gserviceaccount.com"

export PINECONE_API_KEY="$(cat ${SECRETS_DIR}pinecone_api_key.txt)"
export PINECONE_INDEX=bugbite-rag    
export PINECONE_CLOUD=aws              
export PINECONE_REGION=us-east-1     
#PINECONE_API_KEY=
#PINECONE_INDEX=bugbite-rag#PINECONE_CLOUD=aws
#PINECONE_REGION=