services:
  orchestrator:
    image: src-orchestrator:latest
    build: ./orchestrator
    container_name: orchestrator
    ports:
      - "8002:9000"                # host:container, app listens on 9000
    depends_on:
      - ragmodel
      - vlmodel
      - input_evaluation
    environment:
      RAGMODEL_URL: "http://ragmodel:9000"
      VLMODEL_URL: "http://vlmodel:9000"
      INPUT_EVALUATION_URL: "http://input_evaluation:9000"
      GOOGLE_APPLICATION_CREDENTIALS: "/secrets/bitefinder-service-account.json"
      ALLOW_ORIGINS: "http://localhost:3001" #for frontend dev server in environment for orchestrator
      GCP_PROJECT: "bitefinder-474614"
    volumes:
      - ../../secrets:/secrets:ro      # same as -v "$(pwd)"/$SECRETS_DIR:/secrets (read-only)

  ragmodel:
    image: src-ragmodel:latest
    build: ./ragmodel
    container_name: ragmodel
    ports:
      - "8003:9000"
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: "/secrets/bitefinder-service-account.json"
      GCP_PROJECT: 'bitefinder-474614'
      PINECONE_INDEX: bugbite-rag
    volumes:
      - ../../secrets:/secrets:ro

  input_evaluation:
    image: src-input_evaluation:latest
    build: ./input_evaluation
    container_name: input_evaluation
    ports:
      - "8001:9000"
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: "/secrets/bitefinder-service-account.json"
    volumes:
      - ../../secrets:/secrets:ro

  vlmodel:
    image: src-vlmodel:latest
    build: ./vlmodel
    container_name: vlmodel
    ports:
      - "8004:9000"
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: "/secrets/bitefinder-service-account.json"
      GCP_PROJECT: "bitefinder-474614"
      GCP_BUCKET_NAME: "bitefinder-data"
      WANDB_TEAM: "bitefinder"
      WANDB_PROJECT: "bitefinder-vl"
      MODEL_CACHE_DIR: "/app/vlmodel_cache"
      ARTIFACT_MODEL_LABEL: "clip_20251128_225047"
      ARTIFACT_MODEL_VERSION: "v0"
    volumes:
      - ../../secrets:/secrets:ro
      - ./vlmodel_cache:/app/vlmodel_cache
      # - vlmodel_cache:/app/vlmodel_cache

  frontend:
    image: src-frontend:latest
    build:
      context: ./new-frontend #change to new-frontend
      dockerfile: Dockerfile.dev
    container_name: frontend
    ports:
      - "3001:3000"  # host:container, expose frontend on localhost:3001
    environment:
      - NEXT_PUBLIC_BASE_API_URL=http://orchestrator:9000
      - CHOKIDAR_USEPOLLING=true
      - PORT=3000
    volumes:
      - ./new-frontend:/app  #change to new-frontend
      - /app/node_modules
    command: -c "npm install && npm run dev"
    depends_on:
      - orchestrator

# volumes:
#   vlmodel_cache:
