name: Auto-Deploy VL Model

on:
  # schedule:
  #   - cron: "*/5 * * * *"
  workflow_dispatch: {}

jobs:
  check-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    env:
      GCP_PROJECT: bitefinder-474614
      GCS_BUCKET: bitefinder-data
      BEST_MODEL_FILE: best_model.txt
      PULUMI_CONFIG_KEY: artifact_model_label

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - id: auth
        uses: google-github-actions/auth@v1
        with:
          credentials_json: '${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}'

      - name: Configure Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v1

      - name: Configure Docker Client
        run: gcloud auth configure-docker

      - name: Build Deployment Container
        run: |
          cd ${{ github.workspace }}/src/deployment/
          docker build -t bitefinder-deployment -f Dockerfile .

      - name: Run Deploy App
        run: |
          docker run --rm --name bitefinder-deployment \
            -v /var/run/docker.sock:/var/run/docker.sock \
            -v $HOME/.ssh:/home/app/.ssh \
            -v "${{ github.workspace }}/src/deployment/docker_config.json":/root/.docker/config.json \
            -v "${{ github.workspace }}/src/deployment/pulumi-plugins":/root/.pulumi/plugins \
            -v ${{ github.workspace }}/src/new-frontend:/new-frontend \
            -v ${{ github.workspace }}/src/orchestrator:/orchestrator \
            -v ${{ github.workspace }}/src/ragmodel:/ragmodel \
            -v ${{ github.workspace }}/src/vlmodel:/vlmodel \
            -v ${{ github.workspace }}/src/input_evaluation:/input_evaluation \
            -v ${{ github.workspace }}/src/deployment/deploy_k8s:/deploy_k8s \
            -v ${{ github.workspace }}/src/deployment/deploy_images:/deploy_images \
            --mount type=bind,source=$GOOGLE_APPLICATION_CREDENTIALS,target=/secrets/deployment.json \
            --env GOOGLE_APPLICATION_CREDENTIALS=/secrets/deployment.json \
            -e USE_GKE_GCLOUD_AUTH_PLUGIN=True \
            -e GCP_PROJECT=$GCP_PROJECT \
            -e GCP_ZONE=us-central1-a \
            -e GCP_REGION=us-central1 \
            -e PULUMI_BUCKET=gs://$GCP_PROJECT-pulumi-state-bucket \
            bitefinder-deployment /bin/bash /deploy_k8s/deploy-k8s-update.sh
